//
//  Secrets.example.xcconfig
//  otorentacarIOS
//
//  Created by mustafaolmezses on 10.04.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https://example.com
API_USERNAME = your_username
API_PASSWORD = your_password
